.btn{
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    border-style: solid;
    padding: 10px;
}

.btn_primary{
    color: yellowgreen;
    border-color:yellow;
    background-color: transparent;
}

input{
    width: 80%;
    border: none;
    border-top: 2px solid  red;
    margin-right: 10px;
    line-height: 17px;
}

input:focus {
    outline: none;
    border: none;
    border-top: 2px solid green;
}