.todoWrapper{
    border-bottom:2px solid black;
    text-align: left;
    margin-bottom: 10px;
}

ul{
    
}

.removeTodo{
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    border-style: solid;
    padding: 8px;
    color: black;
    font-weight: 600;
    border-color:  #0965ce;
    background-color: transparent;
}